<!--
<section class="section hero" data-ng-controller="SharesController" data-ng-init="getUserShares({'valid':'VALID','tok':global.user.authToken,'userid':global.user.facebook.id})">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-6">
       <div class="w-embed w-iframe">
          <iframe id="sharePlayer" type="text/html" onload='playerLoaded();' width="480" height="270"
          src="https://www.youtube.com/embed/rKkg-uKZr6A?controls=0&enablejsapi=1&rel=0&showinfo=0&color=white"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="w-col w-col-4">
        <tabset id="personalList" class="span5">
              <tab heading="my groovs" active="tab.active">
                <ul id="personalVidList" class="horizontal-slide tab-pane active">
                  <center>
                    <li ng-hide="shares.length">no music data imported yet!</li>
                    <li class="shareBrowserItem" data-ng-repeat="share in shares">
                      <shareobject></shareobject>
                    </li>
                  </center>
                </ul>
              </tab>
              <tab heading="tastemakers">
                <h4>Friend choices will show up here</h4>
                <p> and so on ...</p>
                <button ng-click="getFB(user, share)">fetch</button>
              </tab>
              <tab heading="globalfeed">
                <h4>entire global feed will show up here</h4>
                <p> and so on ...</p>
              </tab>
        </tabset>
      </div>
    </div>
</section>
-->
<section data-ng-controller="SharesController" data-ng-init="getUserShares({'valid':'VALID','tok':global.user.authToken,'userid':global.user.facebook.id})">
  <div class="row clearfix">
    <div class="col-md-2 column">
      <!--<span id="shareCount" ng-model="shares">this is the total count:{{shares.length}}</span>-->
    </div>
    <div class="col-md-6 column">
      <span id="listenCount" ng-model="currentChosenShare">this is the listen count:{{currentChosenShare.listenCount}}</span>
      <br>
      <div id="currentShare">
          <iframe id="sharePlayer" type="text/html" onload='playerLoaded();' width="480" height="270"
          src="https://www.youtube.com/embed/rKkg-uKZr6A?version=3&controls=0&enablejsapi=1&rel=0&showinfo=0&color=white&iv_load_policy=3"
          frameborder="0" allowfullscreen></iframe>
			</div>
    </div>
    <div class="col-md-4 column">
      <tabset id="personalList" class="span5">
        <tab heading="my groovs" active="tab.active">
          <span class="badge pull-right" ng-model="shares">{{shares.length}}</span>
          <ul id="personalVidList" ng-model="shares.length" ng-change="startPlayer()" class="horizontal-slide tab-pane active">
            <center>
              <li ng-hide="shares.length">no music data imported yet!</li>
              <li class="shareBrowserItem" data-ng-repeat="share in shares">
                <shareobject></shareobject>
              </li>
            </center>
          </ul>
        </tab>
        <tab heading="tastemakers">
          <h4>Friend choices will show up here</h4>
          <p> and so on ...</p>
          <button ng-click="getFB(user, share)">fetch</button>
        </tab>
        <tab heading="globalfeed">
          <h4>entire global feed will show up here</h4>
          <p> and so on ...</p>
        </tab>
      </tabset>
    </div>
  </div>
</section>